.profile_container {
    display: flex;
    width: 100%;
    padding-top: 10rem;
    background-color: black;
}

.img_section img {
    width: 100%;
}

.profile_details {
    width: 70%;
    padding-top: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile_details h2 {
    color: white;
    font-family: "ravana";
    font-size: 3rem;
}

.profile_details h2 span {
    color: #63181A;
}

.profile_details h5 {
    color: white;
    font-size: 2rem;
    font-family: "Fenomen";
    margin-bottom: 2rem;
}

.profile_details p {
    color: white;
    font-family: "Fenomen";
}

.about {
    color: white;
    font-family: "Fenomen";
    font-size: 1.3rem;
}

.about span {
    color: #63181A;
}