.profile_container {
    display: flex;
    width: 100%;
    padding-top: 10rem;
    background-color: black;
}

.profile_details {
    border: 2px solid #63181A;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.profile_details span {
    color: #63181A;
}

.profile_details h5 {
    color: white;
    font-size: 1.5rem;
    font-family: "Fenomen";
    margin-bottom: 1.5rem;
}

.button button {
    border: none;
    background-color: #63181A;
    color: white;
    font-family: "Fenomen";
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
}