.footer_container {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.email_container {
    text-align: center;
    background-color: #63181A;
    padding: 2rem;
    color: black;
}

.email_container h6 {
    font-family: "Fenomen";
    font-size: 1.2rem;
}

.email_container button {
    padding: 0.5rem 1.5rem;
    background-color: black;
    color: white;
    font-family: "Fenomen";
    border: none;
}

.email_container input {
    width: 30%;
    padding: 0.5rem;
    height: 2.4rem;
    box-shadow: none;
    border: none;
    border: 1px solid black;
}

.logo {
    padding: 5rem 5rem 0rem 0rem;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts p {
    color: white;
    font-family: "Fenomen";
}

.accounts li {
    list-style: none;
}

.accounts li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.accounts li a:hover {
    text-decoration: underline;
    color: #9e151a;
}

.legal p {
    color: white;
    font-family: "Fenomen";
}

.legal li {
    list-style: none;
}

.legal li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.legal li a:hover {
    text-decoration: underline;
    color: #9e151a;
}

.company p {
    color: white;
    font-family: "Fenomen";
}

.company li {
    list-style: none;
}

.company li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.company li a:hover {
    text-decoration: underline;
    color: #9e151a;
}

.copy_container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-left: 9.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}